.list-item__card-nav {
  display: flex;
  border-bottom: solid 2px rgba(238, 238, 238, 0.5);
  justify-content: center;
}

@media only screen and (max-width: 380px) {
  .list-item__card-nav {
    border: none;
  }
}

.card-nav__item {
  color: rgba(238, 238, 238, 0.5);
  background-color: rgba(238, 238, 238, 0);
  border: none;
  margin: 0 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

.card-nav__item:hover {
  color: #FFF;
  cursor: pointer;
  border-bottom: solid 2px #FFF;
  margin-bottom: -2px;
}

.card-nav__item:focus {
  color: #FFF;
  border-bottom: solid 2px #FFF;
  margin-bottom: -2px;
  outline: none;
}

.item--active {
  color: #FFF;
  border-bottom: solid 2px #FFF;
  margin-bottom: -2px;
}