@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}