.weather-app__list-item {
  color: #fff;
  width: 80%;
  margin: auto;
}

.list-item-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 30px 50px;
}

.list-item__main-content {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px rgba(238, 238, 238, 0.5);
  padding-bottom: 20px;
}

.list-item__content--left-side {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  align-items: center;
}

.list-item__location {
  font-size: 26px;
}

.list-item__date{
  font-size: 16px;
}

.list-item__weather {
  font-size: 22px;
}

.list-item__content--right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-item__temp {
  font-size: 100px;
}

.list-item__minmax-temp {
  font-size: 26px;
}