.weather-app__list-item {
  color: #fff;
  width: 80%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}

.list-item-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 30px 50px;
}

.list-item__main-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.list-item__content--left-side {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  align-items: center;
}

.list-item__location {
  font-size: 26px;
}

.list-item__date{
  font-size: 16px;
  opacity: 0.8;
}

.list-item__weather {
  font-size: 22px;
}

.list-item__content--right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-item__temp {
  font-size: 100px;
}

.list-item__minmax-temp {
  font-size: 26px;
}

.color--light-yellow{
  color: #FFFFC7;
}

.color--light-purple {
  color: #D1B1CB;
}