.list-item__hourly-container {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list-item__hourly-container::-webkit-scrollbar {
  display: none;
}

.list-item__hourly-container::after {
  content: ""; display: table; clear: both;
}

.list-item__hourly-info {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  float: center;
}

@media only screen and (max-width: 610px) {
  .list-item__hourly-info {
    float: left;
  }
}

.hourly-info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-info__card h4 {
  font-size: 16px;
}

.hourly-info__card h5 {
  font-size: 14px;
  opacity: 0.8;
}